/* Eléments principaux de la page */
html {
    font-size: 16px;
}

* {
    margin: 0px;
    padding: 0px;
}

body {
    font-family: 'Poppins', sans-serif;
    color: #181818;
}

a {
    text-decoration: none;
    color: #181818;
}

ul {
    list-style-type: none;
}

section h1 {
    font-family: 'Architects Daughter', Arial, Helvetica, sans-serif;
    font-size: 14px;
}

h2 {
    font-family: 'Poppins', Arial, Helvetica, sans-serif;
    font-size: 12px;
}

p {
    font-family: 'Poppins', Arial, Helvetica, sans-serif;
    font-size: 12px;
}

footer {
    font-family: 'Poppins', Arial, Helvetica, sans-serif;
    font-size: 14px;
}


.header {
    width: 100%;
    height: auto;
    margin: auto;
    position: absolute;
}

#bloc-page {
    width: 70%;
    height: auto;
    margin: auto;
}

/* Header */

.header
 {
    display: flex;
    justify-content: space-between;
}

.nav_bar 
{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100px;
    background-color: #f3e9f1;
    font-weight: bolder;
}

.logo 
{
    height: 100px;
    width: auto;
}

.nav_link {
    display: flex;
}

.nav 
{
    padding: 35px;
    font-size: large;
}
.nav i 
{
    padding-left: 20px;
}

main {
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#products
{
    display: flex;
    flex-direction: column;
    align-items: center;
    line-height: 25px;   
}

#products h2 {
    font-size: 0.7cm;
    padding-bottom: 15px;
    padding-top: 15px;
}

#products p {
    font-size: 0.5cm;
    padding-bottom: 35px;
}

#content {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    font-size: 0.5cm;
    padding: 2rem;
    margin-bottom: 1rem;
    width: auto;
}

.class_teddy {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 250px;
    border-bottom: black 1px solid;
    margin: 1rem;
}


.class_photo {
    align-items: center;
}
.class_photo img {
    width: 250px;
    height: 150px;
    object-fit: cover;
    
}

.class_info {
    padding: 0.5cm;
    display: flex;
    justify-content: space-between;

}
.class_info .name_teddy {
    font-size: medium;
    padding-top: 10px;
}

.class_info .price_teddy {
    font-size: small;
    padding-top: 10px;
}

.class_choice {
    display: flex;
    align-items: flex-end;
}
.btn_like {
    background-color: white;
    border: white;
    font-family: 'poppins';
    font-size: medium;
    padding-left: 60px;
}

footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100px;
    width: 100%;
    background-color: #f3e9f1;
    font-weight: bolder;
}

footer ul
{
    display: flex;
    justify-content: space-around;
    width: 100%;

}

footer li
{
    font-weight: bolder;
    font-size: 1.2em;

}

/* MEDIA QUERIES ECRAN PLUS LARGE  */
@media screen and (max-width: 1065px) {    
    #bloc_page {
        width: 95%;
        height: auto;
        margin: auto;
    }   

    footer
    {
        width: 100%;
    }
}
/* MEDIA QUERIES IPAD */
@media screen and (max-width: 1064px) {
    
    #bloc-page {
        width: 100%;
        height: auto;
        margin: auto;
    }

}

/* MEDIA QUERIES IPHONE */


@media screen and (max-width: 650px) {
    .nav_bar {
        display: flex;
        flex-direction: column;
        height: fit-content;
        padding-bottom: 20px;
    }

    .nav {
    padding: 15px;
    }

    .logo {
        padding-top: 15px;
        height: 80px;
    }
    
    #products h2 {
        align-items: center;
        font-size: medium;
    }

    #products p {
        padding-bottom: 5px;
    }
    
    #content {
        flex-direction: column;
    }
    
    .class_teddy {
        width: auto;
    }

    .class_photo img {
        width: 250px;
        height: 150px;
        object-fit: cover;
    }

    footer ul {
        height: 100px;
        justify-content: space-around;
        align-items: center;
    }

}